---
import Tag from '../components/Tag.astro'
import BaseLayout from './BaseLayout.astro'

const { frontmatter } = Astro.props

const date = Array.from(frontmatter.pubDate).slice(0, 10).join('');
---

<BaseLayout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <div class="post-data">
    <p>By {frontmatter.author} on {date}</p>
    <div class="tags-container">
      {frontmatter.tags.map((v: string) => <Tag tag={v} />)}
    </div>
  </div>
  <main class="flow">
    <slot />
  </main>
</BaseLayout>

<style>

  .post-data {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .tags-container {
    display: flex;
    gap: 10px;
    margin-bottom: 2rem;
  }

  code {
    color: var(--accent);
  }
</style>

<style is:inline>
  h2, h3, h4 {
    border-bottom: 1px solid var(--text-light, #a8a8a8);
    padding-bottom: 0.25em;
  }

  #footnote-label {
    margin-bottom: 1em;
  }

  .image-list {
    display: flex;
    justify-content: space-around;
  }
</style>
